.navbar {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #4196b8;
    padding: 15px 0;
    color: white;
    text-align: center;
    font-family: 'Arial', sans-serif;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    z-index: 1100;
  }
  
  .navbar-brand {
    margin: 0;
    font-size: 24px;
    font-weight: bold;
  }
  